@model IEnumerable<MonjurTask.Models.ViewModel.MeetingMinute_ViewModel>

@* @model IEnumerable<MonjurTask.Models.MeetingMinuteMaster> *@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerType)
            </th>
@*             <th>Selected Customer Name</th> *@
            <th>Quantity</th>
            <th>Product Service Name</th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendsFromClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendsFromHost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discussion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decision)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.CorporateCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndividualCustomer)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerType)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.SelectedCustomerName)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendsFromClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendsFromHost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discussion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decision)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.CorporateCustomer.CorporateCustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndividualCustomer.IndividualCustomerName)
            </td> *@
            <td>
@*                 <a asp-action="Edit" asp-route-id="@item.MeetingMinuteMasterID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.MeetingMinuteMasterID">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
